In [1]:
import pandas as pd

### Q1-Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Q2-Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [8]:
s1 =pd.Series([2,4,6,8,10,12])
print(s1)
print(type(s1))
s_to_list=s1.tolist()
print(s_to_list)
print(type(s_to_list))

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64
<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10, 12]
<class 'list'>

### Q3-Write a Pandas program to compare the elements of the two Pandas Series.

In [10]:
ds1 = pd.Series([1,2,3,4,5])
ds2 = pd.Series([1,4,2,8,5])
print(ds1)
print(ds2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    4
2    2
3    8
4    5
dtype: int64

In [11]:
print("Equals :")
print(ds1==ds2)

Equals :
0     True
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
print("Greater than :")
print(ds1>ds2)

Greater than :
0    False
1    False
2     True
3    False
4    False
dtype: bool

In [13]:
print("Less thas :")
print(ds1<ds2)

Less thas :
0    False
1     True
2    False
3     True
4    False
dtype: bool

### Q4_Write a Pandas program to change the data type of given a column or a Series

In [17]:
hs=pd.Series(["1","python","2.5",False,"3"])
print("Hybird series")
print(hs)
ns=pd.to_numeric(hs, errors='coerce')
print("the numeric series")
print(ns)

Hybird series
0         1
1    python
2       2.5
3     False
4         3
dtype: object
the numeric series
0    1.0
1    NaN
2    2.5
3    0.0
4    3.0
dtype: float64